@import "../../assets/styles/color";

.card.card {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  border: 3px solid $light-gray;

  @media (max-width: 600px) {
    max-width: 260px;
  }

  .image {
    border-radius: 10px;
    border: none;
    background-color: $dark-gray;
    align-self: center;
    margin: 20px 0;

    @media (max-width: 600px) {
      width: 240px;
      height: 140px;
    }
  }

  .icon {
    padding-left: 30px;

    @media (max-width: 600px) {
      padding-left: 20px;
    }
  }

  .placeName {
    width: 380px;
    font-family: "Mont Bold";
    font-weight: 600;
    font-size: 24px;
    color: $font-color;
    padding: 0 30px;
    margin-top: 10px;
    margin-bottom: 15px;

    @media (max-width: 600px) {
      width: 220px;
      padding: 0 20px;
      word-wrap: break-word;
      font-size: 20px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    margin: 20px 0 10px 0;
    gap: 35px;

    .imageContainer {
      position: relative;

      .image {
        margin: 0;
        min-width: 150px;
        min-height: 130px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: none;
        background-color: $dark-gray;

        @media (max-width: 600px) {
          width: 210px;
          height: 190px;
        }
      }

      .icon {
        padding: 0;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 100px;
        border: 1px solid $light-gray;
      }
    }

    .placeName {
      width: 190px;
      font-family: "Mont";
      font-weight: 800;
      font-size: 16px;
      color: $font-color;
      align-self: center;

      @media (max-width: 600px) {
        width: 210px;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  .placeDescription {
    padding: 0 30px 0 20px;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
  }

  .placeFullDescription {
    width: 380px;
    padding: 0 30px;
    margin-bottom: 50px;

    @media (max-width: 600px) {
      width: 220px;
      padding: 0 20px;
      margin-bottom: 30px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-bottom: 10px;

    .svgFavorite,
    .svgArrow {
      width: 20px;
      height: 20px;
    }

    .svgFavorite {
      & path {
        fill: $red;
      }
    }
  }

  .buttonInfoContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 35px;

    .savedButton,
    .routeButton {
      width: 150px;
      text-transform: none;
      border-radius: 5px;
      font-family: "Mont";
      font-weight: 700;
      font-size: 14px;
      gap: 10px;

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .savedButton {
      border: 3px solid $light-gray;
      color: $dark-gray;

      &:hover {
        border: 3px solid $red;
        color: $red;

        .icon {
          & path {
            fill: $red;
          }
        }
      }

      .icon {
        width: 15px;
        padding: 0;

        & path {
          fill: $dark-gray;
        }
      }
    }

    .routeButton {
      background-color: $blue;
      color: $white;

      &:hover {
        background-color: transparent;
        border: 3px solid $blue;
        color: $blue;

        path {
          fill: $blue;
        }
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
      padding: 0 20px;
      gap: 5px;
    }
  }
}
