.image {
  border-radius: 10px;
  border: none;
  background-color: #808080;
  align-self: center;
  margin: 20px 0;

  @media (max-width: 600px) {
    width: 240px;
    height: 140px;
  }
}

.icon {
  padding-left: 30px;

  @media (max-width: 600px) {
    padding-left: 20px;
  }
}

.placeName {
  width: 380px;
  font-family: "Mont Bold";
  font-size: 24px;
  color: #373737;
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 15px;

  @media (max-width: 600px) {
    width: 220px;
    padding: 0 20px;
    word-wrap: break-word;
    font-size: 20px;
  }
}

.placeDescription {
  width: 380px;
  font-family: "Mont";
  font-weight: 600;
  font-size: 12px;
  color: #373737;
  padding: 0 30px;
  margin-bottom: 50px;

  @media (max-width: 600px) {
    width: 220px;
    padding: 0 20px;
    word-wrap: break-word;
    margin-bottom: 30px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 35px;

  .savedButton,
  .routeButton {
    width: 150px;
    text-transform: none;
    border-radius: 5px;
    font-family: "Mont";
    font-weight: 700;
    font-size: 14px;
    gap: 10px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .savedButton {
    border: 3px solid #c4c4c4;
    color: #808080;

    &:hover {
      border: 3px solid #c75e5e;
      color: #c75e5e;

      .icon {
        & path {
          fill: #c75e5e;
        }
      }
    }

    .icon {
      width: 15px;
      padding: 0;

      & path {
        fill: #808080;
      }
    }
  }

  .routeButton {
    background-color: #5e7bc7;
    color: #ffffff;

    &:hover {
      background-color: transparent;
      border: 3px solid #5e7bc7;
      color: #5e7bc7;

      path {
        fill: #5e7bc7;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 0 20px;
    gap: 5px;
  }
}
