$white: #ffffff;
$light-gray: #c4c4c4;
$dark-gray: #808080;
$font-color: #373737;
$avatar-border: #00000033;
$box-shadow: #223c5033;
$blue: #5e7bc7;
$red: #c75e5e;
$orange: #ffa500;
$main-pin-color: #312783;
$secondary-pin-color: #ffe388;
$route-color: #405f7b;
